@media screen and (min-width:320px)and (max-width:667px)
{
    #pagecontent
    {
        width: 98%;
        
    }

    header{
        display:block;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 5%;
      
    }

    #sectionrecherche {
        flex-direction: column-reverse;
        align-items:center;
        font-size: 15px;
        margin-right: 20%;
    }

    .logoohmyfood {
        margin-left: 5% ;
        font-size: smaller;
        color: brown;
    }

    .imageflottante
    {
        font-weight: bold;
        margin-top: 0px;
    }

