@media screen and (min-width:320px)and (max-width:667px) {
    #body {
        font-family: "Arial", sans-serif;
        margin: 0px;
        color: black;
    }
    .logoohmyfood {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 60px;
    }
    .h3 {
        width: 20px;
        display: flex;
        justify-content: left;
        background-color: lightgray;
    }
    #section {
        width: 30%;
        min-width: 200px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #section {
        margin-left: 15px;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: purple;
        font-size: 20px;
        color: white;
    }
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carte {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imagerestaurant {
        display: flex;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .figcaption {
        box-sizing: content-box;
        width: 100%;
    }
    footer {
        width: 100%;
        flex-direction: column;
        padding-left: 30px;
        color: white;
        font-size: 0.9em;
        margin-top: 10px;
        background-color: gray;
    }
    footer p {
        display: flex;
        justify-content: center;
    }
    .logofooter {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}