@media screen and (min-width:320px)and (max-width:667px)
{

#body{
    font-family: "Arial", sans-serif;
    margin: 0px;
    color: black;
}



footer
        {
    width: 100%;
    flex-direction: column;
    padding-left: 30px;
    color: white;
    font-size: 0.9em;
    margin-top: 10px;
    background-color:gray;
    }

}