/* Configuration */

body {
    margin: 0;
    padding: 0 5px;
    font-family: "Roboto";
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    border: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    font-size: 16px;
    font: italic;
}

@media screen and (min-width: 700px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

header img {
    width: 200px;
}


/* Section recherche */

#sectionrecherche {
    text-align: center;
    background-color: rgb(245, 244, 244);
}

.h1 {
    margin: 2rem 0;
    font-weight: 900;
    font-size: 28px;
}

.h2 {
    margin: 0 0 2rem 0;
    font-size: 15px;
    font-weight: lighter;
}

.h3 {
    font-size: 20px;
}

.localisation {
    background-color: lightgrey;
    padding: 1.3rem 0;
    box-shadow: inset 0px 2px 7px #dfdfdf;
    font-weight: bold;
    color: #353535;
    font-size: 20px;
}

.localisation i {
    display: flex;
    justify-content: center;
    padding-right: 1.5rem;
    font-size: 20px;
    color: black;
    padding: 20px;
}


/* Fonctionnement */

#boxfiltres {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
}

.filtre {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 15px lightgray;
    border-radius: 20px;
    margin: 10px;
}

.number {
    position: absolute;
    background-color: rgb(183, 100, 220);
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
    color: white;
    z-index: 2;
    left: -15px;
}

.container {
    border-spacing: 10px 1rem;
}


/* Restaurant */

#sectionrestaurant {}

.boxrestaurant {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .boxrestaurant {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article.resto {
        margin-right: 2rem;
    }
}

article.resto {
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    max-width: 400px;
}

article.resto a {
    color: black;
}

.resto-image {
    position: relative;
}

.resto-image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.resto-image .badge {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: #99e2d0;
    color: green;
    border-radius: 5px;
}

.resto-description {
    padding: 1rem;
}

.resto-description h3 {
    margin: 0.5rem 0;
}

article.resto img:hover {
    transform: scale(1.05);
}

.boxrestaurant p {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new {
    color: green;
    background-color: chartreuse;
    height: 120%;
    text-decoration: none;
    margin-top: 20px;
}

.btn {
    color: white;
    text-decoration: none;
    font-size: 100%;
    background-color: rgb(183, 100, 220);
    box-shadow: rgb(235, 230, 230);
    padding: 1.2rem;
    border-radius: 23px 23px 23px 23px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

footer {
    padding-left: 30px;
    padding-top: 20px;
    color: white;
    font-size: 0.9em;
    background-color: gray;
}

.logofooter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}