body {
    font-family: "Roboto";
    margin: 0;
    overflow-x: hidden;
}

header {
    padding: 2rem 3rem;
}

#logo {
    text-align: center;
}

h3 {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Shrikhand";
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#imageRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#imageRestaurant figure {
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}

#imageRestaurant figure img {
    height: 260px;
    object-fit: cover;
}

#imageRestaurant:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 18px;
    border-style: inherit;
}

.traitVert {
    border-bottom: #99e2d0 solid;
}

main {
    padding: 10px;
}

#menu {
    border-radius: 20px 20px 20px 20px;
    border-style: none;
    display: flex;
    background-color: #f6f6f6;
    position: relative;
    bottom: 85px;
}

.containerEntrée {
    animation-name: fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.containerPlats {
    animation-name: fade-in;
    animation-delay: 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.containerDesserts {
    animation-name: fade-in;
    animation-delay: 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

article {
    background-color: white;
    color: black;
    border-style: inherit;
    box-shadow: #c3c3c3 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    animation: slideup 1s ease both;
    margin-top: 14px;
}

article:hover .icone {
    right: 0;
    transition: all 1s;
}

article:hover .fa-check-circle {
    transform: rotate(360deg);
    transition: transform 1s;
}

#entrées {
    margin-right: 20px;
}

#plats {
    margin-right: 20px;
}

.carte {
    max-width: 360px;
    border-radius: 20px 20px 20px 20px;
    border-style: initial;
    border-color: grey;
}

.txt {
    width: 90%;
    font-size: 16px;
    padding-block-start: 3px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

article:hover .txt {
    width: 80%;
}

.price {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    padding-bottom: 15px;
    margin-right: 12px;
    text-decoration: none;
    white-space: nowrap;
    animation: slideup 1s ease both;
    justify-content: space-between;
}

article:hover .price {
    transition: all 1s;
    transform: translateX(-60px);
}

p {
    font-weight: bold;
    margin: 12px;
    padding-top: 4px;
    padding-block-start: 3px;
}

h4 {
    font-weight: lighter;
    margin: 12px;
    padding-bottom: 4px;
}

.btn {
    justify-content: center;
    padding: 1.2rem;
}

.price span {
    color: black;
    align-self: flex-end;
    font-weight: bold;
}

.fa-check-circle {
    color: white;
    font-size: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icone {
    position: absolute;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    right: -50px;
    width: 50px;
    height: 70px;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

#menuGrid {
    animation: opacity 1s both;
    animation-delay: 0s;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    flex-direction: column;
    color: white;
    font-size: 0.9em;
    background-color: gray;
    padding-top: 20px;
}


/* Responsive Iphone Petite Résolution*/

#body {
    font-family: "Arial", sans-serif;
    margin: 0px;
    color: black;
}

#logo {
    display: flex;
}

.logoohmyfood {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

.fa-arrow-left {
    color: black;
    font-size: 25px;
}

h3 {
    font-size: 25px;
    display: flex;
    justify-content: left;
}

.fa-heart {
    padding-left: 50px;
    font-size: 20px;
    margin-top: 7px;
}

.atc {
    padding: 10px;
}

.btn {
    max-width: 200px;
    display: flex;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: rgb(235, 230, 230);
    font-size: 20px;
    color: white;
    border-radius: 28px;
    margin: 20px 94px;
    padding: 10px 2px;
}

.btn:hover {
    background-color: lighten(white, 10%);
    background-blend-mode: lighten;
    box-shadow: 40px 40px 60px #000;
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

#menu {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageRestaurant {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.imageRestaurant figure {
    width: 100%;
}

.imageRestaurant figure img {
    width: 150%;
    margin: auto;
}

.span .price {
    font-weight: bold;
    color: black;
}

.span {
    width: 100%;
    border-radius: 14px 14px 14px 14px;
    background-color: white;
}

.iconeFooter {
    display: flex;
    align-items: center;
}

footer {
    color: white;
    background-color: rgb(53, 53, 53);
    font-family: Roboto;
    padding-left: 30px;
    padding-top: 20px;
}

footer p {
    display: flex;
    color: white;
    font-family: Roboto;
    font-size: 17px;
    position: relative;
}

.logoFooter {
    color: white;
    font-family: Shrikhand;
}

.lienContact {
    margin: 0;
}

.fa-utensils {
    margin-right: 10px;
}

.fa-hands-helping {
    margin-right: 10px;
}