/* Configuration */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    border: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

.logoohmyfood {
    width: auto;
    max-width: 43%;
}

a {
    text-decoration: none;
    font-size: 16px;
    font: italic;
}

.restauDescription {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 700px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

header img {
    width: 200px;
}


/* Section recherche */

#sectionResearch {
    text-align: center;
    background-color: rgb(245, 244, 244);
}

.h1 {
    margin: 2rem 0;
    font-weight: 900;
    font-size: 28px;
}

.h2 {
    margin: 0 0 2rem 0;
    font-size: 13px;
    font-weight: lighter;
}

.subtitles {
    font-size: 18px;
    font-weight: 300;
}

.h3 {
    font-size: 20px;
}

.localisation {
    background-color: lightgrey;
    padding: 5px;
    box-shadow: inset 0px 2px 7px #dfdfdf;
    font-weight: bold;
    color: #353535;
}

.localisation i {
    display: flex;
    justify-content: center;
    padding-right: 5px;
    color: black;
}


/* Fonctionnement */

#boxfiltres {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
}

.filtre {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 15px lightgray;
    border-radius: 20px;
    margin: 10px;
}

.number {
    position: absolute;
    background-color: #9356DC;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
    color: white;
    z-index: 2;
    left: -15px;
}

.fa-mobile-alt {
    color: gray;
}

.fa-list {
    color: gray;
}

.fa-store {
    color: #9356DC;
}

.container {
    border-spacing: 10px 1rem;
}


/* Restaurant */

#sectionrestaurant {}

.boxRestaurant {
    display: flex;
    flex-direction: column;
}

.fa-heart {
    font-size: 23px;
    margin-top: 12px;
}

@media screen and (min-width: 700px) {
    .boxRestaurant {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article.restau {
        margin-right: 2rem;
    }
}

article.restau {
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    max-width: 400px;
}

article.restau a {
    color: black;
}

.restauImage {
    position: relative;
}

.restauImage img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.restauImage .badge {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: #99e2d0;
    color: green;
    border-radius: 5px;
}

.restauDescription {
    padding: 1rem;
}

.restauDescription h3 {
    margin: 0.5rem 0;
}

article.resto img:hover {
    transform: scale(1.05);
}

.boxRestaurant p {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new {
    color: green;
    background-color: chartreuse;
    height: 120%;
    text-decoration: none;
    margin-top: 20px;
}

.btn {
    color: white;
    border: none;
    font-size: 100%;
    background: linear-gradient(#9356DC #FF79DA #9356DC);
    box-shadow: rgb(235, 230, 230);
    padding: 1.2rem;
    border-radius: 28px 28px 28px 28px;
    margin: 34px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    align-items: center;
    font-weight: bold;
}

footer {
    padding-left: 30px;
    padding-top: 20px;
    color: white;
    font-size: 0.9em;
    background-color: rgb(53, 53, 53);
}

.logofooter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Shrikhand;
}

.iconeFooter {
    display: flex;
    justify-content: left;
}

.fa-utensils {
    display: flex;
    position: relative
}

.fa-hands-helping {
    display: flex;
    position: relative;
}